<html>

<div >
    <div style="text-align: center;"><h2>Hi {{ user.getName }} </h2> welcome to our Organization.</div>
    <div style="text-align: center;">User Id :{{ user.getEmail }}</div>
    <div style="text-align: center;">Password : {{ plainPassword }}</div>

    <div style="text-align: center;">Login URL : <a href="{{ url("app_login") }}">Login Here</a></div>
</div>

</html>