<html>

<div >
    <div style="text-align: center;"><h2>Hi {{ user.getName }} </h2> welcome to our Organization.</div>
    <div style="text-align: center;">User Id :{{ user.getEmail }}</div>
    <div style="text-align: center;">Password : {{ plainPassword }}</div>

</div>

</html>